<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="padding: 20px; background-color: #f0f0f0; font-family: Arial, sans-serif;">
    <div style="text-align: center; ">
        <h1> System Sensor Collection View</h1>
    </div>
    <div>
        <h2>Connected Sensors</h2>
        <a>Add Sensor</a>
    </div>
    <div>
        <table class="table">
            <thead style="border: black; border-width: 20px;">
                <tr style="text-align: center;">
                    <td>
                        <a>@sensor.name</a>
                    </td>
                    <td>
                    </td>
                    <td
                </tr>
            </thead>
            <tbody>
                @foreach (var sensor in Model) {
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>