html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.collapse-item label {
    position: relative;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}

.collapse-text {
    overflow: hidden;
    max-height: 0;
    border-radius: 4px;
    line-height: 1.5;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.collapse-item input:checked ~ .collapse-text {
    max-height: 500px;
    padding-bottom: 10px;
    opacity: 1;
    top: 0;
}

.collapse-text p {
    padding-left: 15px;
    padding-right: 15px;
}

.banner-header {
    background-color: #007bff;
    color: white;
    padding: 90px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
